<!--The content below is only a placeholder and can be replaced.-->
<!-- main app container -->
<!-- <div class="jumbotron"> -->
<!-- 
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
</mat-drawer-container> -->

<mat-sidenav-container class="example-container" *ngIf="shouldRun">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" autoFocus="true">
    <br />
    <br />
    <a href="location">location</a>
    <br />
    <a href="device">device</a>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
    <div>
      <!-- <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p> -->
      <p>
        <button (click)="sidenav.toggle()" class="fixed-button">
          <mat-icon>menu</mat-icon>
        </button>
      </p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
<router-outlet></router-outlet>
<!-- </div> -->
