<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <!-- Messages: style can be found in dropdown.less -->
    <li mk-dropdown type="list" [isWrapper]="false" class="user user-menu">
      <mk-dropdown-toggle>
        <a #toggleElement>
          <img
            src="assets/img/avatar5.png"
            class="user-image"
            alt="User Image"
          />
          <span class="hidden-xs">{{ user.loginusername }}</span>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu>
        <li class="user-header">
          <img
            src="assets/img/avatar5.png"
            class="img-circle"
            alt="User Image"
          />
          <p>
            {{ user.loginusername }}
          </p>
        </li>

        <li class="user-footer">
          <div class="pull-left">
            <a href="#" class="btn btn-default btn-flat">Profile</a>
          </div>
          <div class="pull-right">
            <a href="/login" class="btn btn-default btn-flat">Sign out</a>
          </div>
        </li>
      </mk-dropdown-menu>
    </li>
  </ul>
</div>
